@layer payload-default {
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
}

.field-type.array-field {
  margin-bottom: 4rem;
}

.editor {
  ol {
    list-style-type: decimal;
  }
  ul {
    list-style-type: disc;
  }
}
