@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

/* Custom styles for payload admin */
.field-type.array-field {
  margin-bottom: 4rem;
}

.editor {
  ol {
    list-style-type: decimal;
  }
  ul {
    list-style-type: disc;
  }
}
