name: cv-manager

services:
  postgres:
    image: pgautoupgrade/pgautoupgrade:17-bookworm
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: cv-manager
    volumes:
      - postgres-data:/var/lib/postgresql/data

  mongodb:
    image: mongo:8.2
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    volumes:
      - mongodb-data:/data/db

  #  pgadmin:
  #    image: dpage/pgadmin4
  #    restart: unless-stopped
  #    environment:
  #      PGADMIN_DEFAULT_EMAIL: admin@localhost.com
  #      PGADMIN_DEFAULT_PASSWORD: admin
  #    ports:
  #      - "5050:80"
  #    volumes:
  #      - pgadmin-data:/var/lib/pgadmin

  garage:
    image: dxflrs/garage:v2.1.0
    container_name: cv-manager-garage
    ports:
      - '3900:3900' # S3 API
      - '3901:3901' # RPC
      - '3902:3902' # Web
      - '3903:3903' # Admin
    volumes:
      - ./garage.toml:/etc/garage.toml:ro
      - garage-data:/var/lib/garage/data
    healthcheck:
      test: ['CMD', '/garage', 'status']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  mailpit:
    image: axllent/mailpit
    restart: unless-stopped
    volumes:
      - mailpit-data:/data
    ports:
      - 8025:8025
      - 1025:1025
    environment:
      MP_MAX_MESSAGES: 100
      MP_DATABASE: /data/mailpit.db
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1

volumes:
  mailpit-data:
    driver: local
  postgres-data:
    driver: local
  pgadmin-data:
    driver: local
  mongodb-data:
    driver: local
  garage-data:
    driver: local
