name: cv-manager

services:
  postgres:
    image: pgautoupgrade/pgautoupgrade:17-bookworm
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: cv-manager
    volumes:
      - postgres-data:/var/lib/postgresql/data

  mongodb:
    image: mongo:8.2
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    volumes:
      - mongodb-data:/data/db

  #  pgadmin:
  #    image: dpage/pgadmin4
  #    restart: unless-stopped
  #    environment:
  #      PGADMIN_DEFAULT_EMAIL: admin@localhost.com
  #      PGADMIN_DEFAULT_PASSWORD: admin
  #    ports:
  #      - "5050:80"
  #    volumes:
  #      - pgadmin-data:/var/lib/pgadmin

  minio:
    image: quay.io/minio/minio:RELEASE.2025-04-22T22-12-26Z
    ports:
      - '9000:9000'
      - '9001:9001'
    environment:
      MINIO_ROOT_USER: ${S3_SECRET_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${S3_ACCESS_KEY_ID}
    volumes:
      - minio-data:/data
    command: server --console-address ":9001" /data

  createbucket:
    image: quay.io/minio/mc:RELEASE.2025-04-22T21-15-12Z
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set myminio http://minio:9000 ${S3_SECRET_ACCESS_KEY} ${S3_ACCESS_KEY_ID};
      /usr/bin/mc mb myminio/${S3_BUCKET};
      exit 0;
      "

  mailpit:
    image: axllent/mailpit
    restart: unless-stopped
    volumes:
      - mailpit-data:/data
    ports:
      - 8025:8025
      - 1025:1025
    environment:
      MP_MAX_MESSAGES: 100
      MP_DATABASE: /data/mailpit.db
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1

volumes:
  mailpit-data:
    driver: local
  postgres-data:
    driver: local
  minio-data:
    driver: local
  pgadmin-data:
    driver: local
  mongodb-data:
    driver: local
