@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
  size: A4;
  margin: 45mm 30mm 15mm 30mm;
  @top-right {
    content: element(companyLogo);
    margin-right: -15mm;
    margin-top: 10mm;
  }
  @bottom-left {
    content: element(pageFooter);
  }
}

html {
  width: 100%;
  height: 100%;
}

.break-after {
  break-after: always;
}

.no-page-break {
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
}
