name: Build application on commit
on:
  workflow_call:
  pull_request:
  push:
    paths:
      - '**'
    branches:
      - '**'
    tags-ignore: ['*']

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Trying to install dependencies and build the application
        run: |
          yarn --version
          echo "Going to install dependencies..."
          yarn install
          echo "Checking version..."
          yarn next -v
          echo "Going to run checks..."
          yarn run check
          echo "Going to build application..."
          yarn run build
